<!--<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>-->
<!--<script>-->
<!--  FB.getLoginStatus(function(response) {-->
<!--  if (response.status === 'connected') {-->
<!--    console.log('we in')-->
<!--    <%= render 'signup', user: @user %>-->
<!--  } -->
<!--  else {-->
<!--    <%= render 'form', user: @user %>-->
<!--  }-->
<!-- });-->
<!--</script>-->
<body>
<h1>New User</h1>
<%= render 'form', user: @user %>
<%= link_to 'Back', users_path %>
</body>