<head>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #5DBCD2;
      color: black;
      text-align: center;
    }
  </style>
</head>

<body>
<h1 align="center">Welcome to NoteShare</h1>
<p align ="center">We are a platform designed to crowdsource studying for students.<br>
Student can enroll in courses, upload notes for that course, and view and download notes from their peers.
</p>
<div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center"><a class="btn btn-info" role="button" onclick="startLogin();">Log In with Facebook</a></div>
      </div>
      <br>
      <div class = "row">
        <div class="col-lg-12 text-center"><%= link_to 'Sign Up with Facebook', new_user_path, :class => "btn btn-info",  :style => "color:black" %></div>
      </div>
    </div>
    
<div class="footer"><a class="btn btn-info-outline" role="button" href="https://www.termsfeed.com/privacy-policy/2abc11e63b08b9fb142deeeb30dea297"  style="color: black">Click here to view our Privacy Policy</a></div></div>
</body>

