<h1>Home</h1>
<p>Welcome to Noteshare! This homepage is mostly empty, but just you wait</p>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '680538159135435',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v5.0'
    });
    

  FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    console.log('logged in')
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
  } else if (response.status === 'not_authorized') {
    // The user hasn't authorized your application.  They
    // must click the Login button, or you must call FB.login
    // in response to a user gesture, to launch a login dialog.
    console.log('not_authorized')

  } else {
    // The user isn't logged in to Facebook. You can launch a
    // login dialog with a user gesture, but the user may have
    // to log in to Facebook before authorizing your application.
    console.log('no!')
    FB.login(function(response){
      // handle the response 
    });

  }
 });
    
};
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

<a class="btn btn-info" role="button" onclick="login()">Continue with Facebook</a>

</body>
<script>
function login() {
};
</script>

