<title>NoteShare</title>
<!--<body onload="startLogin();">-->
<h1>New Notesheet</h1>

<%= render 'form', notesheet: @notesheet %>

<%= link_to(notesheets_path(@notesheet), :style=>'color:#000000') do%>
  <i class="fas fa-chevron-circle-left", style='color:#000000'></i>Back
<%end%>
</body>