
<title>NoteShare</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body style="background-color:#C1DFF0">
<div style="margin-left:25px">
<h1>Editing Course</h1>

<%= render 'form', course: @course %>
<div>
    <%= link_to 'Show', @course, :class => "btn btn-warning" %> 
</div>
<br>
<div>
    <%= link_to 'Back', courses_path, :class => "btn btn-warning" %>
</div>

</div>
</body>