<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style style="text/css">
	/* Define the default color for all the table rows */
	/* Define the hover highlight color for the table row */
  .hoverTable tbody tr:hover {
    background-color: #F2F4F4;
  }
</style>

<body>
<h1>My Courses</h1>

<p id="notice"><%= notice %></p>
<table id="dt" class="table table-bordered table-sm hoverTable" cellspacing="0" width="100%">
  <thead class="thead-light">
    <tr>
      <th>Course Name</th>
      <th>Professor</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td style="padding: 5px">
            <%= link_to course.name, course, :class => "btn btn-link", :style=>'color:#000000;' %>
        </td>
        <td><%= course.prof %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>Don't see the course you're looking for?
<%= link_to '+ Create a Course', new_course_path, :class => "btn btn-outline-secondary",  :style => "color:black" %>
</p>

</body>

