<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>NoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div class="jumbotron" style="background-color:#5bc0de">
      <div class="media">
        <div class="media-left media-middle" style="float:left">
          <%= image_tag asset_path('noteShareLogo.png'), :type =>  'image/png' , :size => "150x120"%>
        </div>
        <div class="media-body media-middle">
          <h1>NoteShare</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 text-center"><a href="/" class="btn btn-info" role="button">Home</a></div>
        <div class="col-lg-3 text-center"><a href="/courses" class="btn btn-info" role="button">Courses</a></div>
        <div class="col-lg-3 text-center"><a href="/notesheets" class="btn btn-info" role="button">Notesheets</a></div>
        <div class="col-lg-3 text-center"><a href="/users" class="btn btn-info" role="button">Users</a></div>
      </div>
    </div>
    <br>
    <div style="font-size:20px; margin:auto; text-align:center" id="status"></div>
    
  </head>
  <body style="background-color:#C1DFF0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <div style="margin-left:25px">
    
    <%= yield %>
    </div>
  </body>
  
</html>

